.poke_app {
    background-color: #7ec9d4;
    height: 100%;
    width: 100%;
}

.poke_app_form {
    display: flex;
    flex-direction:row;
    justify-content: center;
}
.poke_app_title{
    font-size:50px;
    text-align: center;
    font-weight: 1000;
    color: red;
    padding: 0;
    margin: 0;
}
.poke_poke{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    padding: 10px;
}